node_modules/

src/*.d.ts
src/*.js

src/antlr/*.d.ts
src/antlr/*.js

src/antlr/grammar/*
!src/antlr/grammar/Rps.g4
!src/antlr/grammar/RPScript.g4

src/core/*.d.ts
src/core/*.js

build/

example/**

.rpscript